@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
        
html * {
     font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-weight: bold;
}

hr {
	height: 2px;
	color: #EC1B23;
	background-color: #EC1B23;
	border: none;
	margin-top: 3px;
	margin-bottom: 3px;
}

.hover:hover {
	opacity: .9;
}

#mbdefaultbody a, #mbdefaultbody a:link, #mbdefaultbody a:visited, #mbdefaultbody a:active {
	color: #EC1B23;		/* hyperlink color for default pages */
	font-weight: bold;
	text-decoration: underline;
}

#mbdefaultbody a:hover {		 
	text-shadow: 1px 0px 20px #FF0000; /* glow color when hyperlinks hovered over on default pages*/
}

.logo img {
	max-width: 150px;
}

.searchicon img {
	max-width: 50px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 12px;
}

.searchicon img:hover {
	background-color: red;
}

/*******************************************/
/************** Begin Nav Bar **************/
/*******************************************/

.navbar-wrapper {
	position: absolute;
	width: 100%;
}

/* Fixes rounded corners issue in Bootstrap navbar */
.navbar-inverse {
  border-radius: 0;
}

#mbnavbar a:hover, a, li, .dropdown-menu li:hover {
    color: #000000;
}

.dropdown-menu li:hover {
	background-color: #A9A9A9;
	color: #000000;
}

/* Makes dropdown menu headers change color when selected or clicked, as well as mobile menu icon (Hamburger Menu icon) change to same color */
	.dropdown-toggle:active, 					/*  */
	.open .dropdown-toggle, 					/*  */
	.dropdown-toggle:hover, 					/*  */
	.navbar-inverse .navbar-toggle:active, 		/* menu icon background color when button is active */
	.navbar-inverse .navbar-toggle:focus, 		/* menu icon background color when it is clicked into */
	.navbar-inverse .navbar-toggle:hover 		/* menu icon background color when hovered over */
	{
	background-color: #EC1B23 !important; /* Overwrites Bootstrap's !important */
}

/* Makes headers of the dropdown menus white and bold */
.navbar-inverse .nav li .dropdown-toggle, .navbar-inverse .nav li .dropdown-toggle:hover  {
    color: #FFFFFF !important; /* Overwrites Bootstrap's !important */
}

.dropdown-menu li {
	background-color: #FFFFFF;
}

.dropdown-menu li:hover {
	background-color: #A9A9A9;
}

.dropdown-menu li > a:hover {
	text-decoration: none;
}

.navbar-inverse a:hover {
	color: #FFFFFF;
}

/* Changes the color of link text <a> after navbar has collapsed for small screen or mobile mode */
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:visited {
	color: #000000;
}

.dropdown {
	font-size: 16px;
	padding: 0;
	font-weight: bold;
}

.dropdown ul {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 10px;
	font-weight: bold;
}

#navbamb {
	background-color: #000000;
	width: 100%;
}

#mbnavbar {
	max-width: 1400px;
	margin-left:auto;
	margin-right:auto;
	background-color:#000000;
}

.nav-button {
	clear: none;
	margin-left: auto;
	margin-right: auto;
	float: right;
}

.nav-button img:hover {
	opacity: .9;
}

/* Adjusts width of dropdown menu */
.dropdown-menu a, .dropdown-menu li {
  min-width: 150px;
}

/* Adjusts center alignment of dropdown menu under main categories when navbar has not collapsed */
@media only screen and (min-width : 769px) {
	
	.dropdown-menu {
	    left: 50% !important;
	    margin-left: -78px;
	}
}

/* For small devices, and after navbar collapses */ 
@media only screen and (max-width : 768px) {
  
	.dropdown-menu li, .dropdown-menu li a, .dropdown-menu ul {
		text-align: center;
		color: #000000;
		list-style: none;
		padding-left: 0 !important;
	}
	
}

@media only screen and (max-width : 950px) {
	.jssorb21 {
		display: none; /* Makes selecion dots on slideshow disappear at this width */
		height: 0;
	}
}

/* Hides Give, Join, and Volunteer Buttons within certain widths */
@media (min-width: 769px) and (max-width: 1325px) {
	.nav-button {
		display: none;
	}
	
}

@media (max-width: 768px) {
	.nav-button-wrapper {
		clear: both;
		float: left;
	}
}

@media (max-width:768px) {
	.hide-mobile {
		display:none;
	}
}

/* Makes space between navbar and slideshow disappear after collapse - required for relative positioning so menu makes divs below the navbar move down when open */ 
 @media all and (max-width: 950px ){
	 
	 .navbar-wrapper {
	 	clear:right;
	 	position: relative;
	 	padding-bottom: 0px;
	 }
	 
	 #mbdefaultbody {
		margin-top: -65px;
	    position: relative;
	    clear: right;
	 }

}

/*****************************************/
/************** End Nav Bar **************/
/*****************************************/

/* Begin Home Template Body */

#mbhomebody {
	max-width:1280px;
	margin: 0 auto 0 auto;
	padding: 15px;
	min-height: 400px;
	position: relative;
}


#mbhomebody img {
	margin: 5px auto 5px auto;
	width: 100%;
	height: auto;
}

/* End Home Template Body */

/* Begin Default Template Body */

#mbdefaultbody {
	max-width:1280px;
	clear: both;
	position: relative;
	float: none;
	padding: 165px 15px 15px 15px;
	margin-left: auto;
	margin-right: auto;
}

/* End Default Template Body */

/*************************************************************/
/*********************** Footer CSS **************************/
/*************************************************************/

/*** Begin Footer ***/

#mbfootemb {
	background-color: #000000;
	width: 100%;
}

#mbfooter {
  max-width: 1280px;
  margin: 0 auto 0 auto;
  background-color:#000000;
}

#mbfooterlinks {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	display: inline;
	text-align: center;
}

#mbfooterlinks ul {
    margin: 0 auto;                  /* center container */
    padding-left: 0;                 /* remove list padding */
    font-size: 0;                    /* remove inline-block white space; see http://stackoverflow.com/a/32801275/3597276 */
}

#mbfooterlinks li {
    display: inline-block;
    font-size: 10px;
    list-style-type: none;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
}

#mbfooterlinks a:link, a:visited, a:active, #contactinfo1 a:link, #contactinfo1 a:visited, #contactinfo1 a:active, #contactinfo1 a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

#mbfooterlinks a:hover, #contactinfo1 a:hover {
	text-shadow: 1px 0px 20px #FFFFFF; /* glow color when hyperlinks hovered over on default pages*/
	text-decoration: underline;
}

#social-media-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	display: inline;
	text-align: center;
}

#social-media-wrapper ul {
    margin: 0 auto; 		/* center container */
    padding-left: 0;        /* remove list padding */
    font-size: 0;           /* remove inline-block white space; see http://stackoverflow.com/a/32801275/3597276 */
}

#social-media-wrapper li {
    display: inline-block;
    list-style-type: none;
    box-sizing: border-box;
    text-align: center;
	margin: 0px 11px 4px 11px;
}

.space hr {
	height: 4px;
	visibility: hidden;
	margin: 0px;
}

#contactinfo1 {
	text-align: center;
	color: #FFFFFF;
	font-size: 86%;
}

#contactinfo2 {
	text-align: center;
	color: #A9A9A9;
	font-size: 80%;
	font-style: italic;
}

/*** End Footer ***/

/*************************************************************/
/**************** End Footer CSS *****************************/
/*************************************************************/

/* Added to make Bootstrap row divs with pictures the same height  */

.row, .row-fluid {
    overflow: hidden !important; 
    padding: 10px !important;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    height: auto;
}

/*** End Bootstrap Change ***/

/* Begin Wrapper for Google Maps */

#googlemapswrapper {
	max-width: 1280px;
	max-height: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
		
}

/* End Wrapper for Google Maps */

/**********************************************************/
/****************  Begin Generic Classes ******************/
/**********************************************************/

.red {
	font-weight: bold;
	color: #FF0000;
}

.bold {
	font-weight: bold;
}

.lilac {
	font-weight:bold;
	color: #A26BA2;
}

.white {
	font-weight: bold;
	color: #FFFFFF;
}

.swag {
	
}

.hover:hover {
	opacity: .9;
}

.caps {
	text-transform: capitalize;
}

.lowercase {
	text-transform: lowercase;
}

.responsive, .responsive img {
	width: 100%; 
	height: auto;
}

/**********************************************************/
/****************  End Generic Classes ******************/
/**********************************************************/


.table-responsive .table {		/* Fixes responsive table horizontal glitch on phones */
    max-width: none !important;
}
