<div id="mbfootemb">

	<div id="mbfooter" class="container">

			<br />

			<div id="social-media-wrapper">

				<ul>
					<li><a href="#"><div class="yelp"></div></a></li>
					<li><a href="#"><div class="tripadvisor"></div></a></li>
					<li><a href="#"><div class="googleplus"></div></a></li>
					<li><a href="#"><div class="facebook"></div></a></li>
					<li><a href="#"><div class="instagram"></div></a></li>
					<li><a href="#"><div class="twitter"></div></a></li>
					<li><a href="#"><div class="youtube"></div></a></li>
					<li><a href="#"><div class="snapchat"></div></a></li>
					<li><a href="#"><div class="reddit"></div></a></li>
					<li><a href="#"><div class="pinterest"></div></a>
				</ul>

			</div>

			<div class="space"><hr></div><div class="space"><hr></div><div class="space"><hr></div>

			<div id="mbfooterlinks">
				<ul>
					<li><a href="/contact">CONTACT US</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hide-mobile">|</span>&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">PRIVACY POLICY</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hide-mobile">|</span>&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">TERMS OF USE</a>&nbsp;&nbsp;&nbsp;&nbsp;<span class="hide-mobile">|</span>&nbsp;&nbsp;&nbsp;</li>
					<li><a href="#">YOUR PRIVACY RIGHTS</a></li>
				</ul>
			</div>

		<div class="row">

			<div id="contactinfo1" class="col-sm-12"><a href="mailto:email@kushbasics.com">email@kushbasics.com</a></div>
			<div id="contactinfo2" class="col-sm-12">Copyright &copy;2017 KushBasics</div>

		</div>
		<div class="space"><hr></div>
	</div>

</div>
