<!-- Begin Navbar -->
<div class="navbar-wrapper">

		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

		  <div id="navbamb" class="container-fluid">

		    <div id="mbnavbar" class="container-fluid">

				<div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="pull-left" href="/index"><div class="responsive hover logo"><img src="/images/.png"></div></a>
			    </div>

			    <div class="collapse navbar-collapse text-center" id="myNavbar">

			      <ul class="nav navbar-nav">

			        <li class="dropdown">
			          <a class="dropdown-toggle" href="/#">LINK 1</a>
			        </li>

							<li class="dropdown">
			          <a class="dropdown-toggle" href="/#">LINK 2</a>
			        </li>

			        <li class="dropdown">
			          <a class="dropdown-toggle" href="/#">LINK 3</a>
			        </li>

							<li class="dropdown">
			          <a class="dropdown-toggle" href="/#">LINK 4</a>
			        </li>

			        <li class="dropdown">
			          <a class="dropdown-toggle" href="/#">LINK 5</a>
			        </li>

							<li class="dropdown">
			          <a class="dropdown-toggle" href="/#">LINK 6</a>
			        </li>

			        <li class="dropdown">
			          <a class="dropdown-toggle" href="/#">LINK 7</a>
			        </li>

			        <li class="dropdown">
			          <a class="dropdown-toggle" href="/#">LINK 8</a>
			        </li>

			      </ul>

						<!--
				     <div class="pull-right">

					    <div class="searchicon">
					    	<img src="/images/search.png">
					    </div>

							<div class="nav-button-wrapper">

							</div>

				     </div>

				 		-->

			    </div>

		    </div>

		  </div>

		</nav>
</div>
<!-- End Navbar -->
